.center {
    display: block;
    text-align: center;
}

.task-screen {
    display: flex;
}

.no-workspace {
    display: block;
    text-align: center;
}

.no-workspace h2 {
    margin-bottom: 1rem;
}

.ws-input > * {
    margin: 0 0 1rem 0;
    font-size: 1rem;
    width: 15rem;
}