.task-list-select {
    flex: 1;
    text-align: center;
    margin-right: 1rem;
}

.task-list-select select {
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
    margin-bottom: 0.5rem
}

.task-list-select button {
    padding: 0.5rem;
    margin: 0 0 0.5rem 0.5rem;
}

.select-and-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.new-ws-input {
    position: relative;
    border: 1px solid gray;
    padding: 0.5rem;
    background-color: lightgray;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid gray;
    position: absolute;
    top: -8px;
    right: 30px;
}

.new-ws-input input {
    width: 8rem;
    font-size: 0.9rem;
    margin: 0.3rem;
}

.new-ws-input button { 
    padding: 0.1rem;
    margin: 0.3rem;
}