.tasks-grid {
    list-style: none;
    display: grid;
    grid-template-columns: 25% 25% 25% 20%;
    grid-gap: 0rem 2rem;
    align-items: start;
    padding: 1rem 2rem;
}

.task-col-one {
    grid-column: 1;
}

.task-col-two {
    grid-column: 2;

}

.task-col-three {
    grid-column: 3;
}

.task-col-one,
.task-col-two,
.task-col-three {
    box-shadow: 0 2px 8px rgba(185, 185, 185, 0.26);
    padding: 1rem 2rem;
    overflow: hidden;
    background: lightgrey;
}

.task-list-select {
    grid-column: 4;
    text-align: center;
}

.task-list-dropdown {
    width: 80%;
}

/*
.task-col-one:first-child,
.task-col-two:first-child,
.task-col-three:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.task-col-one:last-child,
.task-col-two:last-child,
.task-col-three:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
*/

.card-padding {
    padding: 1rem;
}

h2 {
    margin: 0;
}

